@model ehandel.Models.ViewModels.ProductVM


<div class="container">
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <input asp-for="Id" hidden />
        <input asp-for="ImageUrl" hidden />
        <div class="row">
            <div class="col-10">
                <div class="border p-3 mt-4 row">
                    <div class="col-12 p-2">
                        <h2 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Product</h2>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3 ">
                        <label asp-for="ImageUrl"></label>
                        <input type="file" id="uploadBox" name="file" class="form-control" />
                    </div>

                    @if (Model.Id != 0)
                    {
                        <div class="mb-3 col-6">
                            <label asp-for="CategoryId"></label>
                            <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="form-select"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-6">
                            <label asp-for="ProductRatingId"></label>
                            <select asp-for="ProductRatingId" asp-items="@Model.RatingsList" class="form-select"></select>
                            <span asp-validation-for="ProductRatingId" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-6">
                            <label asp-for="SelectedStatuses"></label>
                            <select asp-for="SelectedStatuses" asp-items="@Model.StatusList" class="form-select" multiple>
                            </select>
                            <div class="mb-3 mt-1">
                                <button type="button" onclick="deselectAllStatuses()">Deselect All Statuses</button>
                            </div>
                        </div>
                            
                    }
                    else
                    {
                        <div class="mb-3 col-6">
                            <label asp-for="CategoryId"></label>
                            <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="form-select">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="ProductRatingId"></label>
                            <select asp-for="ProductRatingId" asp-items="@Model.RatingsList" class="form-select">
                                <option disabled selected>--Select Rating--</option>
                            </select>
                            <span asp-validation-for="ProductRatingId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SelectedStatuses"></label>
                            <select asp-for="SelectedStatuses" asp-items="@Model.StatusList" class="form-select" multiple>
                            </select>
                        </div>
                    }
                    <div class="col-12">
                        @if (Model.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                        }
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
                            Back to list
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2 pt-4">
                <img src="@Model.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
        //DESELECT
        function deselectAllStatuses() {
            // Get the select element for the selected statuses
            var selectedStatusesSelect = document.getElementById("SelectedStatuses");

            // Clear all selected options
            Array.from(selectedStatusesSelect.options).forEach(option => option.selected = false);
        }
    </script>
}
