@{
    var completed = "text-decoration: line-through;";
}


<div class="container d-block my-5">
    <h1>Hello first time visitor! (Hasse) 😃👍</h1>
    <p><b>The Database has been initialized</b> and filled with placeholder products, categories, product statuses and "contactUs" enteries.✔<br /> I've also added two users. One user with Admin role🦈 and one with Customer role.🐬(details below👀)</p>
    <p>Products in the frontpage are filtered to display accordingly at each product-section✌. Related products also working in the details page.</p>
    <p>Products, categories have fully working CRUD operations and are accessible with the admin login. Profile page is also accessible and a complete users list page.👨‍👩‍👦‍👦</p>
    <h6>You enter the site (<em>on next refresh</em>). This cookie lasts for 10min.⏳</h6>

    <h4 class="mt-3">My aims are <del>strikethrough</del>, hope they are up to expectations.</h4>
    <h6>För godkänt krävs följande:</h6>
    <ul>
        <li style="@completed">Du måste bygga systemet med hjälp av ASP.NET Core MVC.</li>
        <li style="@completed">Du måste minst ha 4 olika Partial Views.</li>
        <li style="@completed">Du måste lagra och hantera data med hjälp av Entity Framework Core.</li>
        <li style="@completed">Du måste normalisera din relationsdatabas enligt 1-3 NF.</li>
        <li style="@completed">Du måste kunna gruppera in produkter i de olika kategorierna (new, popular och featured).</li>
        <li style="@completed">Du måste implementera så att det går att trycka på en produkt och komma till produktsidan.</li>
        <li style="@completed">Du måste implementera Identity och rollhantering.</li>
        <li style="@completed">Du måste se till så att första användaren blir en systemadministratör.</li>
        <li style="@completed">Du måste se till så att alla andra användare blir standardanvändare.</li>
        <li style="@completed">Du måste ha ett backoffice-system som bara systemadministratören kan komma åt.</li>
        <li style="@completed">Du måste i backoffice-systemet kunna lista upp samtliga användare och visa deras roll.</li>
        <li style="@completed">Du måste hantera ett kontaktformulär och informationen ska sparas in i lagringslösningen.</li>
    </ul>

    <h6>För väl godkänt krävs följande:</h6>
    <ul>
        <li style="@completed">Alla krav som tillhör godkänt måste vara uppfyllda.</li>
        <li style="@completed">Du måste minst ha 8 olika Partial Views.</li>
        <li style="@completed">Du måste kunna lägga till nya användare i backoffice-systemet.</li>
        <li style="@completed">Du måste implementera så att det går att byta användarroll för en specifik användare.</li>
        <li style="@completed">Du måste implementera så att en användare kan se sin egna profilsida.</li>
        <li style="@completed">Du måste implementera så att det går att lägga till nya produkter i backoffice-systemet.</li>
    </ul>




    <table class="my-5">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@domain.com</td>
                <td>BytMig123!</td>
            </tr>
            <tr>
                <td>customer@domain.com</td>
                <td>BytMig123!</td>
            </tr>
        </tbody>
    </table>


</div>